In [58]:
!pip install -q datasets
!pip install -q pytorch-transformers
!pip install scikit-learn
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pypi.org/simple, https://packagecloud.io/github/git-lfs/pypi/simple
Requirement already satisfied: scikit-learn in /user/HS402/ov00034/.local/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/lib/python3/dist-packages (from scikit-learn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /user/HS402/ov00034/.local/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/lib/python3/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: joblib>=1.1.1 in /user/HS402/ov00034/.local/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pypi.org/simple, https://packagecloud.io/github/git-lfs/pypi/simple
Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 KB 5.5 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /usr/lib/python3/dist-packages (from seaborn) (3.5.1)
Requirement already satisfied: pandas>=0.25 in /user/HS402/ov00034/.local/lib/python3.10/site-packages (from seaborn) (2.0.1)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /usr/lib/python3/dist-packages (from seaborn) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=0.25->seaborn) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /user/HS402/ov00034/.local/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /user/HS402/ov00034/.local/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

In [42]:
def clear_log_file(filename):
    try:
        open(filename, 'w').close()
        print(f"{filename} cleared.")
    except Exception as e:
        print(f"Error clearing {filename}: {str(e)}")


clear_log_file('interaction_log.csv')

interaction_log.csv cleared.

In [43]:
import requests
import json

url = "http://127.0.0.1:8000/predict"
data = {
    "text": "I want to fight someone and punch them !",
    #"text" : "I hope that the future will be better"


}

response = requests.post(url, data=data)
print(response.json())
#response = requests.post(url, data=data)

# Check if the POST request was successful
#if response.status_code == 200:
#    print("POST request was successful.")
#    print("Response:", response.json())
#else:
#    print("POST request failed with status code:", response.status_code)
#    print("Response:", response.content)

The predicted emotion is Anger

In [44]:
import pandas as pd

def check_log_file(filename):
    column_names = ['Date and Time', 'Input', 'Emotion Predicted'] # Specify the column names
    try:
        data = pd.read_csv(filename, names=column_names)
        print(data)
    except FileNotFoundError:
        print(f"{filename} not found.")


check_log_file('interaction_log.csv')

                Date and Time                                     Input
0  2023-05-23 19:07:15.096930  I want to fight someone and punch them !  \

  Emotion Predicted
0             Anger

In [21]:
#lsof -i :8089 use this command to find if locust is using that port
#kill -9 <PID> use command to kill locust process

SyntaxError: illegal target for annotation (356046631.py, line 1)

In [45]:
# LOCUST TESTING USING locust_testing.py

!locust -f locust_testing.py --host http://127.0.0.1:8000 --csv=locust_output

[2023-05-23 19:07:23,751] heron185.eps.surrey.ac.uk/INFO/locust.main: Starting web interface at http://0.0.0.0:8089 (accepting connections from all network interfaces)
[2023-05-23 19:07:23,759] heron185.eps.surrey.ac.uk/INFO/locust.main: Starting Locust 2.15.1
[2023-05-23 19:07:43,486] heron185.eps.surrey.ac.uk/INFO/locust.runners: Ramping to 100 users at a rate of 5.00 per second
KeyboardInterrupt
2023-05-23T18:07:56Z
[2023-05-23 19:07:56,116] heron185.eps.surrey.ac.uk/INFO/locust.main: Shutting down (exit code 0)
Type     Name  # reqs      # fails |    Avg     Min     Max    Med |   req/s  failures/s
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
POST     /predict     753     0(0.00%) |    286      19    1065    280 |   82.99        0.00
--------||-------|-------------|-------|-------|-------|-------|--------|-----------
         Aggregated     753     0(0.00%) |    286      19    1065    280 |   82.99        0.00

Response time percentiles (approximated)
Type     Name      50%    66%    75%    80%    90%    95%    98%    99%  99.9% 99.99%   100% # reqs
--------||--------|------|------|------|------|------|------|------|------|------|------|------
POST     /predict      280    350    400    420    470    520    660    870   1100   1100   1100    753
--------||--------|------|------|------|------|------|------|------|------|------|------|------
         Aggregated      280    350    400    420    470    520    660    870   1100   1100   1100    753

In [46]:
import pandas as pd

# Load stats data
stats_df = pd.read_csv('locust_output_stats.csv')

stats_history_df = pd.read_csv('locust_output_stats_history.csv')


# Load failures data
failures_df = pd.read_csv('locust_output_failures.csv')

In [47]:
stats_df.head()

,Type,Name,Request Count,Failure Count,Median Response Time,Average Response Time,Min Response Time,Max Response Time,Average Content Size,Requests/s,...,66%,75%,80%,90%,95%,98%,99%,99.9%,99.99%,100%
0,POST,/predict,753,0,280.0,286.771443,19.335704,1065.758716,32.0,82.98967,...,350,400,420,470,520,660,870,1100,1100,1100
1,NaN,Aggregated,753,0,280.0,286.771443,19.335704,1065.758716,32.0,82.98967,...,350,400,420,470,520,660,870,1100,1100,1100

In [48]:
failures_df.head()

Empty DataFrame
Columns: [Method, Name, Error, Occurrences]
Index: []

In [49]:
stats_history_df.head(10)

,Timestamp,User Count,Type,Name,Requests/s,Failures/s,50%,66%,75%,80%,...,99.9%,99.99%,100%,Total Request Count,Total Failure Count,Total Median Response Time,Total Average Response Time,Total Min Response Time,Total Max Response Time,Total Average Content Size
0,1684865243,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
1,1684865244,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
2,1684865245,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
3,1684865246,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
4,1684865247,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
5,1684865248,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
6,1684865249,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
7,1684865250,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
8,1684865251,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0
9,1684865252,0,NaN,Aggregated,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.0

In [29]:
# checks to see all installed
!git --version
!pip --version
!jupyter --version
!python3 --version

git version 2.34.1
pip 22.0.2 from /usr/lib/python3/dist-packages/pip (python 3.10)
Selected Jupyter core packages...
IPython          : 7.31.1
ipykernel        : 6.7.0
ipywidgets       : 6.0.0
jupyter_client   : 7.1.2
jupyter_core     : 4.9.1
jupyter_server   : not installed
jupyterlab       : not installed
nbclient         : 0.5.6
nbconvert        : 6.4.0
nbformat         : 5.1.3
notebook         : 6.4.8
qtconsole        : not installed
traitlets        : 5.1.1
Python 3.10.6

In [62]:
%%bash

#Step 1: Grab latest changes from GitHub for CI/CD

echo "Pulling latest changes from GitHub..."
git pull

# Step 2: Build
echo "Building and Training model"
#pip install -r requirements.txt

# Convert the notebook to a Python script
#jupyter nbconvert --to script NLP_Individual_Part.ipynb

# Execute the Python script
python3 nlp_individual_part.py

Pulling latest changes from GitHub...
Already up to date.
Building and Training model
DatasetDict({
    train: Dataset({
        features: ['text', 'labels', 'id'],
        num_rows: 43410
    })
    validation: Dataset({
        features: ['text', 'labels', 'id'],
        num_rows: 5426
    })
    test: Dataset({
        features: ['text', 'labels', 'id'],
        num_rows: 5427
    })
})
{'train': (25384, 3), 'validation': (3166, 3), 'test': (3246, 3)}
tensor([[[   0, 1308, 5548,  689,   16,  932,   38,  399,   75,   33,    7,
          7142, 2185,    4,    2]]])
tensor([[   0, 1308, 5548,  689,   16,  932,   38,  399,   75,   33,    7, 7142,
         2185,    4,    2]])
tensor([[   0, 1296,    2]])
EPOCH 0
Iter: 0. Val Loss: 0.124. Val Accuracy: 71.131%
Test Accuracy: 70.025%

Found cached dataset go_emotions (/user/HS402/ov00034/.cache/huggingface/datasets/go_emotions/simplified/0.0.0/2637cfdd4e64d30249c3ed2150fa2b9d279766bfcd6a809b9f085c61a90d776d)
100%|██████████| 3/3 [00:00<00:00, 532.11it/s]
Loading cached processed dataset at /user/HS402/ov00034/.cache/huggingface/datasets/go_emotions/simplified/0.0.0/2637cfdd4e64d30249c3ed2150fa2b9d279766bfcd6a809b9f085c61a90d776d/cache-01ca813168dc1b8d.arrow
Loading cached processed dataset at /user/HS402/ov00034/.cache/huggingface/datasets/go_emotions/simplified/0.0.0/2637cfdd4e64d30249c3ed2150fa2b9d279766bfcd6a809b9f085c61a90d776d/cache-9d51cd84566fac88.arrow
Loading cached processed dataset at /user/HS402/ov00034/.cache/huggingface/datasets/go_emotions/simplified/0.0.0/2637cfdd4e64d30249c3ed2150fa2b9d279766bfcd6a809b9f085c61a90d776d/cache-5a56320947970bf9.arrow